@model Rockend.iStrata.StrataWebsite.Model.ExecutiveMemberModel
@using Rockend.iStrata.StrataWebsite.Helpers
@using Rockend.iStrata.StrataCommon.BusinessEntities

@section HeadTagsSection
{
    <style>
        .value
        {
            width: 170px;
            word-break: break-all;
        }

        .label
        {
            width: 120px;
        }
    </style>
}
<div data-role="header" data-position="inline" data-theme="c">
    <h2>Committee Member</h2>
</div>
<div class="ui-content">
    <div class="mainContent">
        <div class="menuIconContainer" style="margin-bottom: 16px;">
            <a href="#" data-rel="back" data-direction="reverse" data-role="none" data-transition="slide" data-ajax="false">
                <img src="/Content/Images/menuIcon.jpg" /></a>
        </div>
        @if (ViewData.Model.UserSession.OwnersCorpNames.Count > 1)
        {
            @Html.Raw(Html.StrataDropdown(ViewData.Model.UserSession.ExecutiveMemberNames, ViewData.Model.CurrentExecutiveMemberIndex, ((d, i) => Url.Action("Main", new { index = i }))))
        }
        else
        {
            <h3 class="plan">@ViewData.Model.UserSession.ExecutiveMemberNames[0].Name</h3>
        }
        <div class="section">
            <h3>Property Details</h3>
            @Model.BodyCorporateName
            <br />
            <span>Plan Number:</span> @Model.PlanNumber
        </div>
        <div class="section">
            <h3>Address</h3>
            @Html.ValueOrDefault(Model.AddressLine1)
            @Html.ValueOrDefault(Model.AddressLine2)
            @Html.ValueOrDefault(Model.AddressLine3)
        </div>
        <div class="section">
            <h3>Member Name</h3>
            @Model.MemberName
        <br />
            @Model.MemberAddress
        </div>
        <div class="section">
            <h3>Other Details
            </h3>
            <div class="label">
                Position:
            </div>
            <div class="value">@Model.Position
            </div>
            <div class="clear"></div>
            <div class="label">
                Receives Reports:
            </div>
            <div class="value">@Model.ReceivesReports
            </div>
        </div>
        <div class="section">
            <h3>Contact Details</h3>
            @Html.Partial("RenderContact", Model.ExecutiveMemberContact)
        </div>
        <div class="section">
            <h3>
                <b>All Committee Members</b></h3>
            @foreach (ExecutiveInfo info in ViewData.Model.ExecutiveInfo)
            { 
                <b>@info.Name</b>
                <div class="clear">
                </div>
                <div class="label">
                    Position
                </div>
                <div class="value">@info.Position</div>
                <div class="clear">
                </div>
                <div class="label">
                    Lot
                </div>
                <div class="value">@info.Lot</div>
                <div class="clear">
                </div>
                <div class="label">
                    Unit
                </div>
                <div class="value">@info.Unit</div>                  
                <div class="clear">
                </div>
                <div class="label">
                    Address
                </div>
                <div class="value">
                    @if (info.Address != null)
                    { @Html.Raw(info.Address.Replace(", ", "<br />").Replace(",", "<br />"));
                    }
                </div>
                <div class="clear">
                </div>
                <div class="label">
                    Phone
                </div>
                <div class="value">@info.Phone</div>
                <div class="clear">
                </div>
                <br />
            }
        </div>
    </div>
</div>
