@model Rockend.iStrata.StrataWebsite.Model.MeetingModel
@using Rockend.iStrata.StrataWebsite.Helpers

<div data-role="header" data-position="inline" data-theme="c">
    <h2>Meeting Details</h2>
</div>
<div class="ui-content">
    <div class="mainContent">
        <div class="menuIconContainer" style="margin-bottom: 16px;">
            <a href="#" data-rel="back" data-direction="reverse" data-role="none" data-transition="slide" data-ajax="false">
                <img src="/Content/Images/menuIcon.jpg" /></a>
        </div>
        <div class="section">
            @if (Model.UserSession.LotNames.Count > 1)
            {
                @Html.Raw(Html.StrataDropdown(Model.UserSession.LotNames, Model.CurrentLotIndex, ((d, i) => Url.Action("Index", new { index = i })), "ownerCorpIndex"))
            }
            else
            {
                <h3 class="plan">@Model.UserSession.LotNames[0].Name</h3>
                <input type="hidden" id="ownerCorpIndex" value = "@Model.CurrentLotIndex" />
            }
            <h3>Scheduled Meetings</h3>
            <table>
                @if (Model.Meetings != null && Model.Meetings.Count > 0)
                {
                    foreach (var meeting in Model.Meetings)
                    {
                    <tr>
                        <td colspan="2">
                            <b style="margin-bottom: 6px; display: block;">@meeting.Description</b>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 80px;">Date
                        </td>
                        <td>
                            @meeting.MeetingDate.ToShortDateString()
                        </td>
                    </tr>
                    <tr>
                        <td>Time
                        </td>
                        <td>
                            @meeting.MeetingTime
                        </td>
                    </tr>
                    <tr>
                        <td>Venue
                        </td>
                        <td>
                            @meeting.VenueName
                        </td>
                    </tr>
                    <tr>
                        <td>Manager
                        </td>
                        <td>
                            @meeting.Manager
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;
                        </td>
                    </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>No meetings scheduled
                        </td>
                    </tr>
                }
            </table>
        </div>
        <br />
        <div class="section">
            <h3>Past Meetings</h3>
            <table>
                @if (Model.PastMeetings != null && Model.PastMeetings.Count > 0)
                {
                    foreach (var meeting in Model.PastMeetings)
                    {
                    <tr>
                        <td colspan="2">
                            <b style="margin-bottom: 6px; display: block;">@meeting.Description</b>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 80px;">Date
                        </td>
                        <td>
                            @meeting.MeetingDate.ToShortDateString()
                        </td>
                    </tr>
                    <tr>
                        <td>Time
                        </td>
                        <td>
                            @meeting.MeetingTime
                        </td>
                    </tr>
                    <tr>
                        <td>Venue
                        </td>
                        <td>
                            @meeting.VenueName
                        </td>
                    </tr>
                    <tr>
                        <td>Manager
                        </td>
                        <td>
                            @meeting.Manager
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;
                        </td>
                    </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>No meetings scheduled
                        </td>
                    </tr>
                }
            </table>
        </div>
        <br />
        @Html.ActionLink("Contact Manager", "UpdateRequestForm", "Agency", new { subject = "Meeting Query", heading = "Contact my Manager" }, new { @class = "coolButton", style = "float: left; width: 145px; height: 29px; vertical-align: middle; padding-top: 6px;" })
    </div>
</div>
