@model Rockend.iStrata.StrataWebsite.Model.ChangePasswordModel
<div data-role="header" data-position="inline" data-theme="c">
    <h2>Change Password</h2>
</div>
<div class="ui-content">
    <div class="section" style="margin-bottom: 35px;">
        <div class="menuIconContainer">
            <a href="#" data-rel="back" data-direction="reverse" data-role="none" data-transition="slide" data-ajax="false">
                <img src="/Content/Images/menuIcon.jpg" /></a>
        </div>
    </div>
    <div class="box darkBox">
        <div class="mainContent">
            <p>
                You may use this form to change your password.<br />
                New passwords are required to be a minimum of 6 characters and a maximum of 15 characters
            in length.
            </p>
            <br />
            <form action="@Url.Action("ChangePassword")" method="post" name="changeForm" autocomplete="off">
                <div class="editor-label">
                    @Html.LabelFor(m => m.OldPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "field", maxlength = "15", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.NewPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "field", maxlength = "15", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "field", maxlength = "15", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
                <div>
                    <a href="#" class="coolButton slightlyBiggerButStillCoolButton" style="margin-top: 15px;" data-role="none" onclick="$('form[name=changeForm]').submit();">Change</a>
                </div>
                @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
            </form>
        </div>
    </div>
</div>
