@model Rockend.iStrata.StrataWebsite.Model.RenderReportModel
@using Rockend.iStrata.StrataWebsite.Model
@{
    Layout = null;
}
@{ UserSession session = Session["UserSession"] as UserSession; }
<div class="report-section">
    <div class="reportLabel">
        <h3>@session.Terminology[Model.Report.InternalName]</h3>
    </div>
    <div class="reportButton">
        @if (Model.Report.WebAccessReportsID != 2 && Model.Report.WebAccessReportsID != 3 && Model.Report.WebAccessReportsID != 4)
        {
            <a href="#" class="coolButton" onclick="javascript:RunReport('@Model.Report.ReportName', @Model.PlanId)">View</a>
        }
        else if (Model.Report.WebAccessReportsID == 4) 
        {
            <a href="#" class="coolButton" onclick="javascript:RunCurrentOwnerAccountReport('@Model.Report.ReportName', @Model.PlanId, @Model.OwnerId)">View</a>
        }
        else
        {
            @Html.ActionLink("View", "ReportParameters", new { reportName = Model.Report.ReportName, planId = Model.PlanId }, new { @class = "coolButton" })
        }
    </div>
</div>
