@model Rockend.iStrata.StrataWebsite.Model.RetrievePasswordModel
@section HeadTagsSection
{
    <script type="text/javascript">


        $(document).ready(function () {
            $('#usernameBox').bind('keyup', function (event) {
                if (event.keyCode === 13) {
                    findPassword();
                }
            });
        });

        $(document).ready(function () {
            $('#emailBox').bind('keyup', function (event) {
                if (event.keyCode === 13) {
                    findUserName();
                }
            });
        });



        function findUserName() {
            var userEmail = $('#emailBox').val();
            var userType = $('#UsernameUserTypeId').val();

            $('#usernameResult').removeClass('validation-summary-errors');
            $('#usernameResult').text('searching...');

            $.ajax({
                url: '@Url.Action("FindUsername") ',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify({ 'email': userEmail, 'userType': userType }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    if (!data.emailSent) {
                        $('#usernameResult').addClass('validation-summary-errors');
                    }
                    else {
                        $('#usernameResult').removeClass('validation-summary-errors');
                    }

                    $('#usernameResult').text(data.result);
                }
            });  // ajax
        }

        function findPassword() {
            var username = $('#usernameBox').val();
            var userType = $('#PasswordUserTypeId').val();

            $('#passwordResult').removeClass('validation-summary-errors');
            $('#passwordResult').text('searching...');

            $.ajax({
                url: '@Url.Action("FindPassword") ',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify({ 'username': username, 'userType': userType }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    if (!data.emailSent) {
                        $('#passwordResult').addClass('validation-summary-errors');
                    }
                    else {
                        $('#passwordResult').removeClass('validation-summary-errors');
                    }

                    $('#passwordResult').text(data.result);
                }
            });  // ajax
        }
    </script>
}
<div data-role="header" data-position="inline" data-theme="c">
    <a href="#" data-role="button" data-rel="back" data-direction="reverse" data-theme="c" data-icon="arrow-l">Back</a>
    <h2>
        Username / Password Retrieval</h2>
</div>
<div class="mainContent">
    <div>
        <h2>Forgotten your Password?</h2>
        <p>
            Simply enter your Username and we will email your Password to you.
        </p>
        <br />
        <p>
            If you do not receive an email please check your junk mail folder. If we do not
        have your updated email address on file you will need to give us a call.
        </p>
    </div>
    <div style="margin-top: 10px;">
        <span>User Role</span>
        @Html.DropDownListFor(m => m.PasswordUserTypeId, Model.Roles, new { @class = "field" })
        <p>
            @Html.ValidationMessageFor(m => m.UsernameUserTypeId)
        </p>
        <span>Username</span> @Html.TextBoxFor(m => m.UserName, new { @class = "field", id = "usernameBox" })
        <p>
            @Html.ValidationMessageFor(m => m.Email)
        </p>
        <input type="button" class="" onclick="javascript: findPassword()" value="Find" />
        <br />
        <div id="passwordResult">
        </div>
    </div>
    <div style="clear: both; height: 20px;">
    </div>

    <div>
        <div>
            <h2>Forgotten your Username?</h2>
            <p>
                No problem, just enter your email address and we will email your Username to you.
            </p>
            <br />
            <p>
                If you do not receive an email please check your junk mail folder. If we do not
            have your updated email address on file you will need to give us a call.
            </p>
        </div>
        <div style="margin-top: 10px;">
            <p>
                @Html.ValidationMessageFor(m => m.PasswordUserTypeId)
            </p>
            <span>Email</span> @Html.TextBoxFor(m => m.Email, new { @class = "field", id = "emailBox" })
            <p>
                @Html.ValidationMessageFor(m => m.Email)
            </p>
            <input type="button" class="" onclick="javascript: findUserName()" value="Find" />
            <br />
            <div id="usernameResult">
            </div>
        </div>
    </div>
</div>
