@model Rockend.iStrata.StrataWebsite.Model.ChangePasswordModel

<div style="float: left;">
    <div class="box darkBox">
        <h2>
            Change Password</h2>
        <form action="@Url.Action("ChangePassword")" method="post" autocomplete="off">
        <div class="editor-label">
            @Html.LabelFor(m => m.OldPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "field", maxlength = "15", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.NewPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "field", maxlength = "15", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "field", maxlength = "15", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <div>
            <input type="submit" class="coolButton" onclick="javascript: submitForm()" value="Change" />
        </div>
        <br />
        @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
        </form>
    </div>
</div>
<div style="float: left; width: 484px; margin-left: 30px;">
    <h2>
        Change Password</h2>
    <p>
        You may use this form to change your password.
    </p>
    <p>
        New passwords are required to be a minimum of 6 characters and a maximum of 15 characters in length.
    </p>
</div>
<div style="clear: both; height: 20px;">
</div>
